@model IEnumerable<AracWebApp.Models.tblArac>
@{
    ViewBag.Title = "Index";
}

<h2 class="p-2 mt-3">Yetkili Anasayfası</h2>

<button class="btn btn-success p-2 mt-3">
    @Html.ActionLink("Araç Ekle", "AracEkle") <i class="fa fa-plus" aria-hidden="true"></i>
</button>
<br />  
<table class="table bg-success mt-3 p-3">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.airbag)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.aciklama)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gunlukFiyat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.koltukSayisi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bagajHacmi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.km)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.resim)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tblModel.modelAd)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.airbag)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.aciklama)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.gunlukFiyat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.koltukSayisi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.bagajHacmi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.km)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.resim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tblModel.modelAd)
            </td>
            <td>
                @Html.ActionLink("Düzenle", "AracDuzenle", new { id = item.aracId }) |
                @Html.ActionLink("Detay", "AracDetay", new { id = item.aracId }) |
                @Html.ActionLink("Sil", "AracSil", new { id = item.aracId })
            </td>
        </tr>

    }

</table>

<button class="btn btn-primary mt-3">@Html.ActionLink("Basvurular", "Basvurular") <i class="fa fa-shopping-basket" aria-hidden="true"></i></button>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />